out
src
client
pic
node_modules
.test-data
.vscode
.vscode-test
.vscode-test-web
*.vsix
*.map
*.json
server/dist/browserServerMain.js
webpack.config.js
.github/FUNDING.yml
icon.png
.vscodeignore
!*.nls.*